.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grey);
  height: 100%;
  color: white;
}

.register-button {
  position: absolute;
  right: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 30px 50px 10px;
  margin: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 #d3d3d3;
  background: var(--blue);

  form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    justify-content: space-evenly;

    margin-bottom: 20px;

    button {
      align-self: center;
    }
  }

  a {
    cursor: pointer;
  }
}

.form-group {
  display: flex;
  justify-content: space-evenly;
}

.link {
  font-weight: bold;
  &:hover {
    cursor: pointer;
    color: var(--marine);
  }
}
