/* You can add global styles to this file, and also import other style files */
:root {
  --blue: #53a4e3;
  --marine: #213346;
  --grey: #f4f6f8;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
  outline: auto;
  display: flex;
  flex-direction: column;
}

.app-root {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

html, body { height: 100%; }


* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


textarea:focus, input:focus{
  outline: 0;
}
